<nav class="navbar navbar-light bg-light"> 
    <a class="navbar-brand">
        Bank Test s3
      </a>
</nav>
<div class="d-flex h-100">
  <div class="m-auto">
      <form>
          <div class="form-group">
              <h2 >Customer Statements Processor</h2>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <div class="custom-file">
                      <input type="file" #file class="custom-file-input" (change)="parse($event.target.files)" accept=".csv,.xml" id="fileInput">
                      <label class="custom-file-label" for="fileInput">Choose file</label>
                  </div>
              </div>
          </div>
          <div class="form-group" *ngIf="!failedRecords.length && file.value">
            <div class="alert alert-success" role="alert">No Failed Transactions</div>
           </div>
          <div class="form-group" *ngIf="failedRecords.length > 1">
              <div class="alert alert-danger" role="alert">Failed Transactions due to Balance Mismatch or no unique Trasaction Reference</div>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th scope="col">Transaction Reference</th>
                          <th scope="col">Description</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let data of failedRecords">
                          <th scope="row">{{data.reference}}</th>
                          <th>{{data.description}}</th>
                      </tr>
                  </tbody>
              </table>
          </div>
      </form>
  </div>